.git
.github
.vs
.vscode
.idea

node_modules
**/node_modules

dist
**/dist

loadBalancer
nginx

.env
**/.env

.gitignore
**/.gitignore

docker-compose.yml
Dockerfile

*.DS_STORE
*.DS_Store
**/*.DS_STORE
**/*.DS_Store